@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');

#wrapper {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100px;
    grid-template-areas: 
    ". . ."
    ".  cta  ."
    ". about ."
    "register  register  register";
}

body {
    background-color: #333;
}

#call-to-action {
    background-color: rgba(43,56,73, .8);
    grid-area: cta;
    padding: 10px;
}

#wrapper:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;

    background-image: linear-gradient(
      rgba(43,56,73, 1), 
      rgba(43,56,73, .8)
    ), 
    
    url('https://scontent.fyyz1-1.fna.fbcdn.net/v/t1.0-9/1546300_769734769720847_91590970_n.jpg?oh=af8d77d7ac19e108e46fc42e20f0795c&oe=5A760B70');    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


#call-to-action .content {
    text-align: center;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-column-gap: 10px;
    grid-template-areas:
    ". heading ."
    ". sub ."
    "description description description"
    " . loc ."
    " . date ."
    ".  btn-register .";
    color: #aaa;
    justify-content: center;
}

#call-to-action #btn-about {
    grid-area: btn-about;
}

#call-to-action #btn-register {
    grid-area: btn-register;
}

#call-to-action h1 {
  font-size: 5em;
  color: #E6394A;
  margin-bottom: 0;
  text-transform: uppercase;
  grid-area: heading;
  font-family: 'Oswald', sans-serif;
  font-

}

#call-to-action .content h2.where, #call-to-action .content h2.when, #about h2 {
  color: #c6a640;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px
}

#call-to-action .content .where {
  grid-area: loc;
  margin-bottom: -5px;
}

#call-to-action .content .when {
  grid-area: date;
}

#call-to-action h2.sub {
    color: #E6394A;
    font-size: 2em;
    margin-top: -10px;
    grid-area: sub;
}

#call-to-action p {
    grid-area: description;
}

#about {
    background-color: rgb(45, 58, 75);
    grid-area: about;
    color: #aaa;
    padding: 19px 20px;
    margin-top: 50px;
    text-align: center;
}

#about h2 {
  color:#c6a641;
  text-align: center;
}


#register {
    background-color: #C6A440;
    grid-area: register;
}

#footer {
    background-color: #333;
}

/* Custom color */
.button-black {
  background-color: black;
  border-color: black;
}
.button-red.button-clear,
.button-red.button-outline {
  background-color: transparent;
  color: #E6394A;
}
.button-red.button-clear {
  border-color: #E6394A;
}

.button-red {
    background: #E6394A;
    border-color: #E6394A;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width:961px) {
  #wrapper {
    grid-template-columns: 0% 100% 0%;
     grid-template-rows: 40px;
  }
  #call-to-action .content {
    grid-template-columns: 20% 60% 20%;
    grid-column-gap: 2px;
  }
}


